.container {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
   
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-input-element, textarea {
    width: calc(100% - 24px); /* Adjust as needed */
  }
  
  button {
    width: 100%;
  }
  

  @media screen and (max-width: 600px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  }
  